<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WordSets</key>
	<array>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>0</integer>
			<key>color</key>
			<integer>16729600</integer>
			<key>description</key>
			<string>Basic vocabulary for beginners , user without any basis should start from here.</string>
			<key>iconUrl</key>
			<string>Unit-1</string>
			<key>listTopWordIndex</key>
			<integer>0</integer>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>1</integer>
			<key>color</key>
			<integer>16737792</integer>
			<key>description</key>
			<string>Middle level vocabulary, these words are crucial to understand short articles and simple conversations.</string>
			<key>iconUrl</key>
			<string>Unit-2</string>
			<key>listTopWordIndex</key>
			<integer>0</integer>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>9359351</integer>
			<key>categoryId</key>
			<integer>2</integer>
			<key>color</key>
			<integer>16750592</integer>
			<key>description</key>
			<string>Advanced vocabulary for middle level user, these words help understand the main idea of normal articles.</string>
			<key>iconUrl</key>
			<string>Unit-3</string>
			<key>listTopWordIndex</key>
			<integer>0</integer>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>10606585</integer>
			<key>categoryId</key>
			<integer>3</integer>
			<key>color</key>
			<integer>16759040</integer>
			<key>description</key>
			<string>Advanced vocabulary for high level user, these words will help you read most articles and express your opinions.</string>
			<key>iconUrl</key>
			<string>Unit-4</string>
			<key>listTopWordIndex</key>
			<integer>0</integer>
			<key>testMarked</key>
			<false/>
		</dict>
		<dict>
			<key>arrowColor</key>
			<integer>12510205</integer>
			<key>categoryId</key>
			<integer>4</integer>
			<key>color</key>
			<integer>16767488</integer>
			<key>description</key>
			<string>Rare used vocabulary , but they are important to read complex articles and enhance expression diversity.</string>
			<key>iconUrl</key>
			<string>Unit-5</string>
			<key>listTopWordIndex</key>
			<integer>0</integer>
			<key>testMarked</key>
			<false/>
		</dict>
	</array>
	<key>NotificationOn</key>
	<true/>
</dict>
</plist>
